h1,h2,h3,h4,h5,h6 {
    margin: 0;
}

p{
    margin: 0;
}

ul,li {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

html,
body {
    padding: 0;
    margin: 0;
}

html {
    height: 100%;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #000;
}

.container {
    max-width: 100%;
    box-sizing: border-box;
    margin: 0 auto;
    background-color: #1D1D1D;
    margin: 0 38.5px;
    box-sizing: border-box;
}

.row {
    display: flex;
}

.header {
    flex: 0 0 auto;
    margin-top: 11px;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 100;

    &__row {
        max-width: 628px;
        margin-left: auto;
        margin-right: auto;
    }

    &__line {
        height: 2px;
        max-width: 561px;
        width: 100%;
        background-color: #fff;
        margin-top: 14px;
    }

    & .container {
        background-color: transparent;
    }

    &__menu {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-left: 13px;

        &-ul {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &-item {
            font-weight: 700;
            font-size: 15px;
            color: #fff;
        }
    }

    &__nav {
        font-family: "Montserrat";
        margin-top: 10px;
    }
}

.footer {
    flex: 0 0 auto;
}

.main {
    flex: 1 0 auto;  
    display: flex;
    flex-direction: column;
}

.arm {
    height: 100vh;
    & .container {
        position: relative;
        height: 100%;
    }

    &__fon {
        height: 100%;
        background: linear-gradient(180deg, rgba(29, 29, 29, 0.3) 0%, #1d1d1d 100%), linear-gradient(180deg, rgba(29, 29, 29, 0) 0%, #1d1d1d 100%), linear-gradient(116deg, rgba(29, 29, 29, 0) 0%, #1d1d1d 100%), linear-gradient(245deg, rgba(29, 29, 29, 0) 0%, #1d1d1d 100%), url("../image/arm__fon.jpg");
        position: absolute;
        z-index: 1;
        width: 100%;
        top: 0;
        left: 0;
        background-repeat: no-repeat;
        background-size: cover;
    }

    &__text {
        position: relative;
        z-index: 2;
        top: 302px;
        left: 10px;

        & img:last-child {
            margin-top: 30px;
            margin-right: 37px;
            margin-left: auto;
            display: flex;
        }
    }

    &__line {
        & img:first-child {
            position: absolute;
            top: 445px;
            right: -75px;
            z-index: 5;
        }

        & img:last-child {
            position: absolute;
            top: 587px;
            right: -54px;
            z-index: 5;
        }
    }
}
